body {
  background-color: #ffed7a;
}

.body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 60px 100%;
  max-width: 98%;
  margin: 0 auto;
  background-color: #f9efae;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #7eff7a;
}

.headerButtonSearch {
  margin-left: auto;
}

.sidebar {
  margin: 10px 5px 20px;
  border-right: 2px solid #109bd2;
  background-color: #7ae9ff;
}

.main {
  background-color: #f5b9ff;
}